#fetchimi-window {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color: #FFFFFF !important;
    font-family: mplus-2p-black;
    font-size: 14px;
    padding: 4px !important;
    margin: 0;
    position: fixed;
    word-wrap: break-word;
    z-index: 7777;
    text-align: left;
    width: 550px;
}
#fetchimi-window.progress {
    color: #FFFFFF !important;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 10px;
    width: auto;
}
#fetchimi-window .wordlink, #fetchimi-window .searchwordfont {
    color: #FFFF00 !important;
    font-weight: bold;
}
#fetchimi-window .wordclass, #fetchimi-window .label {
    color: #99FF33 !important;
}
#fetchimi-window .kana {
    font-size: 0 !important;
}
#fetchimi-window ol, #fetchimi-window ul, #fetchimi-window li, #fetchimi-window div {
    color: #FFFFFF !important;
}
#fetchimi-window .midashi {
    color: #FFFFFF !important;
    padding-right: 20px;
}
#fetchimi-window ol {
    margin: 10px;
    padding: 0px;
    list-style-type: decimal !important;
    list-style-position: inside !important;
}
#fetchimi-window ol li {
    line-height: 110%;
}
